# Permite leitura pública de arquivos e define o documento padrão
Options -Indexes +FollowSymLinks
DirectoryIndex index.html pt.html index.php

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^$ /pt/ [R=301,L]
</IfModule>
