@import "tailwindcss";

@theme {
  --color-brand-light: #FFFFFF;
  --color-brand-surface: #F8FAFC;
  --color-brand-text-main: #0F172A;
  --color-brand-text-muted: #475569;
  --color-brand-blue: #0B2447;
  --color-brand-blue-hover: #19376D;
  --color-brand-green: #10B981;
  --color-brand-green-hover: #059669;
}

:root {
  --background: #FFFFFF;
  --foreground: #0F172A;
}

body {
  background: var(--color-brand-light);
  color: var(--color-brand-text-main);
}
